<!DOCTYPE html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='./cabecalho.css') }}"><meta charset="utf-8"></head> 

    <body>
            
        <header>
            <img src="{{url_for('static', filename='Mackenzie.png')}}" >
                <div id="menu">
                        <ul>
                            <li><a href="index.html">Home Page</a></li>
                            <li><a href="detalhe-curso.html">Lista de Cursos</a></li>
                            <li><a href="Noticias.html">Notícias</a></li>
                        </ul>
                    </div>
                
        </header>
 
          
        <div class="conteudo">
        <div class="texto">
        </header>
                <h1><th>Detalhe de Cursos</th></h1>
                <h2><a href="Disciplina.html">Sistemas de Informação </a></h2>
                <table border="1">
            
                <p>O curso aborda conteúdos exigidos no mercado que incluem hardware e tecnologias associadas, 
			       segurança da informação, direito digital, engenharia de software, governança de TI, gestão de SI,
			       gerência de projetos, banco de dados, redes de computadores e comunicação de dados, serviços em nuvem,
			       inteligência artificial com foco em data Science (ciência de dados).</p>
        
                    
                <h2><a href="Disciplina-Ciencia-Economicas.html">Ciências Econômicas</a></h2>
				<p>Criptomoedas, PIB, Mercado Financeiro, Desigualdade de Renda e Empreendedorismo - se você tem interesse 
				nesses assuntos, esse curso é feito para você. Com oportunidades de trabalho no mercado financeiro, empresas,
				governo, universidades e diversas outras instituições públicas ou privadas, o economista é um profissional bastante 
				requisitado, sobretudo na atual realidade de constantes transformações. </p>
            
                           
        </div>
        </div>
            

  

  
    <footer>
        <p class="center">Todos os direitos reservados. Projeto LMS 2019</p>
    </footer>

 </body>

</html>
