<!DOCTYPE html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='./cabecalho.css') }}"><meta charset="utf-8"></head> 

 
    <body>
            
        <header>
            <img src="{{url_for('static', filename='Mackenzie.png')}}" >
                <div id="menu">
                        <ul>
                            <li><a href="index.html">Home Page</a></li>
                            <li><a href="detalhe-curso.html">Lista de Cursos</a></li>
                            <li><a href="Noticias.html">Notícias</a></li>
                        </ul>
                    </div>
                
        </header>
 
          
        <div class="conteudo">
        <div class="texto">
		<br>
        <p class="center">CIÊNCIAS ECONÔMICAS</p>
        <h3>Ementa</h3>
        <br>
            
            
            O conteúdo inicia com uma introdução aos fundamentos da economia. Busca a caracterização
			das divisões do estudo econômico, aplicações e instrumentos, bem como a compreensão dos
			mecanismos que conduzem ao equilíbio de mercado. Análise dos efeitos das elasticidades sobre a
			demanda, a oferta e o equilíbrio de mercado.<br>
        
                    
            <h3>Objetivo</h3>
            <br>
            Curso de Ciências Econômicas busca desenvolver no discente a capacidade de
			pensar criticamente, refletir, aprender a aprender, a relacionar o conhecimento com
			dados da experiência diária, fazer ponte entre teoria e prática, fundamentar a crítica
			e argumentar com base em fatos, contribuindo à formação do sujeito e cidadão para
			fazer frente às transformações pelas quais passam a sociedade e as organizações.
            
            
           

            
            <br>	
			<br>
			<br>
        </div>
		</div>
            

  

  
    <footer>
        <p class="center">Todos os direitos reservados. Projeto LMS 2019</p>
    </footer>

 </body>

</html>