<!DOCTYPE html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='./cabecalho.css') }}"><meta charset="utf-8"></head> 

 
    <body>
            
        <header>
            <img src="{{url_for('static', filename='Mackenzie.png')}}" >
                <div id="menu">
                        <ul>
                          <li><a href="index.html">Home Page</a></li>
                            <li><a href="detalhe-curso.html">Lista de Cursos</a></li>
                            <li><a href="Noticias.html">Notícias</a></li>
                        </ul>
                    </div>
                
        </header>
 
          
        <div class="conteudo">
        <div class="texto">
		<br>
        <p class="center">SISTEMAS DE INFORMAÇÃO</p>
        <h3>Ementa</h3>
        <br>
            
            
            Estudar as diferentes categorias de sistemas de informação e desenvolver métodos para
            criação de uma consistente estrutura de informações na organização, que possa oferecer o
            adequado suporte as estratégias organizacionais. Disseminar o conhecimento sobre as
            principais tecnologias e sistemas de um ambiente empresarial. Aplicação deste recurso ao
            negócio das organizações e criação de condições para a tomada de decisões apropriadas a um
            desempenho empresarial superior.<br>
        
                    
            <h3>Objetivo</h3>
            <br>
            Familiarizar os alunos com: (a) conceituar a informação e os sistemas de informação e o seu
            papel nas organizações. Para tal serão apresentados métodos, técnicas e ferramentas para
            modelagem e desenvolvimento de sistemas de informação; (b) aprender e analisar como os
            dados e as informações fluem dentro de uma organização, organizar e classificar as
            informações sob a ótica de sistemas de informação; (c) apresentar noções fundamentais de
            sistemas e discutir o valor da informação da tecnologia de informação e dos sistemas de
            informação voltados para a gestão e melhoria das condições de competitividade das
            organizações; (d) a revisão de literatura e a discussão e reflexão sobre conceitos de sistemas
            de informação; (e) alavancar o espírito de cooperação em equipe e de antecipação pela
            informação.
            
            
           

            
            <br>
        </div>
		</div>
            

  

  
    <footer>
        <p class="center">Todos os direitos reservados. Projeto LMS 2019</p>
    </footer>

 </body>

</html>
