<!DOCTYPE html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='./cabecalho.css') }}"><meta charset="utf-8"></head> 

    <body>
            
        <header>
            <img src="{{url_for('static', filename='Mackenzie.png')}}" >
                <div id="menu">
                        <ul>
                           <li><a href="index.html">Home Page</a></li>
                            <li><a href="detalhe-curso.html">Lista de Cursos</a></li>
                            <li><a href="Noticias.html">Notícias</a></li>
                        </ul>
                    </div>
                
        </header>
 
          
        <div class="conteudo">
		<div class="texto">
		<br>
        <div class="noticia"><img src="{{url_for('static', filename='Noticia1.png')}}" alt="Imagem Notici1" height="250" width="250"></div>
            <a href="https://www.gazetasp.com.br/capital/56310-mackenzie-apresenta-projetos-a-partir-de-estudos-feitos-com-softwares">
			<h4>Mackenzie apresenta projetos a partir de estudos feitos com softwares</h4></a>
        <br><br>
        <div class="noticia"><img src="{{url_for('static', filename='Noticia2.png')}}" alt="Imagem Notici1" height="250" width="250"></div>
            <a href="https://correio.rac.com.br/_conteudo/2019/09/campinas_e_rmc/867048-mackenzie-realiza-ciclo-de-palestras-do-cct.html">
			<h4>Mackenzie realiza ciclo de palestras do CCT</h4></a>
        
        <br><br>
        <div class="noticia"><img src="{{url_for('static', filename='Noticia3.png')}}" alt="Imagem Notici1" height="250" width="250"></div>
            <a href="http://costanorte.com.br/geral/36359/estudantes-do-mackenzie-conhecem-programa-ambiental-em-cubatao">
			<h4>Estudantes do Mackenzie conhecem programa ambiental em Cubatão</h4></a>
         
		<br><br>
		<div class="noticia"><img src="{{url_for('static', filename='Noticia4.png')}}" alt="Imagem Notici1" height="150px" width="400px"></div>
			<a href="https://guiadoestudante.abril.com.br/universidades/mackenzie-abre-inscricoes-para-vestibular-2020/">
			<h4>Mackenzie oferece oportunidade para Vestibular</h4></a>
			<br>		 
        </div>
		</div>		
        <footer>
                <p class="center">Todos os direitos reservados. Projeto LMS 2019</p>
        </footer>
        
        </body>
</html>
        